<p>
	 </p>
<p>
	Zabývám se terapií TFT a Ericksonovskou hypnoterapií<img align="right" alt="" height="150" src="/files/P8040001.JPG" width="200" /> a také výkladem karet, především tarotu. K těmto technikám mě přivedly životní krize a otázky, na které jsem hledala odpovědi a také to, že jsem chtěla pomoci sama sobě. Když jsem na vlastní kůži zakusila, že to funguje, začala jsem tyto metody studovat a prohlubovat svoje vědomosti a praktiky.</p>
<p>
	Absolvovala jsem u Jany Vetešníkové, certifikovanou instruktorkou a psychoterapeutkou TFT Českou školu-Sovaano pro TFT/EFT zakončenou Certifikátem. U stejné učitelky také Školu Hypnozy (Ericksonovská hypnoza) zakončenou zkouškou o kvalifikaci a certifikátem.</p>
