<div>
	<p>
		<strong> Vítejte na mých stránkách o TFT, hypnóze a kartách.</strong></p>
	<p>
		<img align="right" alt="Ivana Klaudova" height="234" src="/files/mama_foto_stranka.jpg" width="150" /></p>
	<p>
		Jako kvalifikovaný odborník v TFT (Thought Field Therapy – volně přeloženo: Terapie mezipólového myšlení) vám chci představit tuto vysoce efektivní techniku. (Podrobněji se o této terapii dočtete v samostatné rubrice o TFT).</p>
	<p>
		TFT pomáhá vysoce efektivním způsobem řešit emocionální a fyzické problémy.Nabízím při osobních sezeních řešení vyšich problémů, pomocí této metody.</p>
	<p>
		Pomáhala jsem klientům již s celou řadou problémů, jako jsou např. Strach a smutek, nízké sebevědomí, úzkost, pocity méněcennosti, nezvozita ze zkoušek, špatná komunikace s okolím, zbavení zlozvyků a jiné nevyrovnanosti v našem těle.  Různé závislosti: např. Na jídle, na sladkém, noční přejídání, atd. všechno možné kolem jídla a také nezdravá závislost na osobách. Dále závislost na kouření.</p>
	<p>
		Mojí specialitou jsou právě tyto závislosti ohledně jídla a kouření. K tomu mě přivedly moje osobní zkušenosti s těmito problémy. A také poznatek,  že tato metoda je vysoce účinná , bezpečná a také příjemná.</p>
	<p>
		TFT uvolní emoční bloky, lidé se mohou cítit svobodnější, šťastnější a silnější ve svém životě.Mým cílem je vždy, aby sezení bylo účinné a příjemné. Nádherným rysem TFT je, že s humorem můžeme řešit i vážné problémy.</p>
	<p>
		K problémům klientů vždy přistupuji s diskrétností, pokorou a úctou k člověku, který se na mě s důvěrou obrátí.</p>
</div>